:root {
  --primary-color: #ffb86b;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin-top: 70px;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 44px;
  margin: 0;
}

h3 {
  font-size: 22px;
}

.centered {
  text-align: center;
}

.navigation-bar {
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0;
}
