:root {
  --primary-color: #f7a752;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin-top: 70px;
  margin-bottom: 30px;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 44px;
  margin: 0;
}

h3 {
  font-size: 22px;
}

.centered {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.navigation-bar {
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0;
}

.primary-link {
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
  padding: 20px 15px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

i {
  font-size: 30px;
}

@media (max-width: 576px) {
  .homepage-photo {
    display: none;
  }

  h1 {
    text-align: center;
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    font-size: 18px;
  }

  .text-left {
    text-align: center;
  }

  .primary-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
